@{
    ViewBag.Title = "Početna";
}

<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <img src="~/Content/Images/logo2.jpg" class="img-responsive center-block" />
    </div>
</div>

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Isplata", "Transakcija", new { tekuciRacunId = ViewBag.TekuciRacunId})" class="btn btn-info btn-lg btn-block">
            <span class="glyphicon glyphicon-arrow-up"></span>  Isplata
        </a>
        <a href="@Url.Action("BrzaIsplata", "Transakcija", new { tekuciRacunId = ViewBag.TekuciRacunId})" class="btn btn-info btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>  Brza Isplata $100
        </a>
        <a href="@Url.Action("Details", "TekuciRacun")" class="btn btn-info btn-lg btn-block">
            <span class="glyphicon glyphicon-search"></span>  Pregled Stanja
        </a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Uplata", "Transakcija", new { tekuciRacunId = ViewBag.TekuciRacunId})" class="btn btn-info btn-lg btn-block">
            <span class="glyphicon glyphicon-arrow-down"></span>  Uplata
        </a>
        <a href="@Url.Action("IspisTransakcija", "Transakcija", new { tekuciRacunId = ViewBag.TekuciRacunId})" class="btn btn-info btn-lg btn-block">
            <span class="glyphicon glyphicon-list"></span>  Ispis Transakcija
        </a>
        <a href="@Url.Action("Prijenos", "Transakcija", new { tekuciRacunId = ViewBag.TekuciRacunId})" class="btn btn-info btn-lg btn-block">
            <span class="glyphicon glyphicon-transfer"></span>  Prijenos na Račun
        </a>
    </div>
</div>

@*  random Testiranje helper metoda

    @{
        var iznosi = new List<Decimal> { 100, 25.50m, -45, 257.99m };
    }


    <ul>
        @foreach (decimal iznos in iznosi)
        {
            <li>@FormatirajIznos(iznos)</li>
        }
    </ul>


    @helper FormatirajIznos(decimal iznos)
        {
            var boja = "green";
            if (iznos < 0)
            {
                boja = "red";
            }
            <span style="color:@boja">@String.Format("{0:c}", iznos)</span>
        }
*@